<!DOCTYPE html>
<html lang="en" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
    <link href="../layui/css/layui.css" rel="stylesheet"/>
    <script src="../layui/layui.js"></script>
    <script src="../layui/layui.all.js"></script>
    <!-- 引入JQuery -->
    <script type="text/javascript"
            src="../EasyUI/jquery.min.js"></script>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal" lay-event="add">新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增</button>
        <button class="layui-btn layui-btn-danger" lay-event="delete">批量删除</button>
        <!--<button class="layui-btn layui-btn-danger" data-type="getCheckData"><i class="layui-icon"> </i>批量删除</button>-->
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="down">拒绝通过</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script>

    $(function(){
        initsearch();
    })
    function initsearch() {

        layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider'], function () {
            var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                /*,carousel = layui.carousel //轮播*/
                , upload = layui.upload //上传
                , element = layui.element //元素操作
            /* ,slider = layui.slider //滑块*/

            /*//向世界问个好
        layer.msg('感谢观看！');*/

            /*//监听Tab切换
        element.on('tab(demo)', function(data){
            layer.tips('切换了 '+ data.index +'：'+ this.innerHTML, this, {
                tips: 1
            });
        });*/


            //执行一个 table 实例

            table.render({
                elem: '#demo',
                height: true,
                url: '/comm/queryComm', //数据接口
                title: '用户表',
                page: true, //开启分页
                toolbar: '#toolbarDemo', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                totalRow: false,//开启合计行
                cols: [
                    [ //表头
                        {checkbox: true, align: 'center', LAY_CHECKED: false, filter: 'test'},
                        /*{type: 'checkbox', fixed: 'left'},*/
                        {field: 'number', title: '编号', width: 100, align: "center"},
                        {field: 'name', title: '商品名称', width: 100 /*sort: true, totalRow: true*/},
                        {field: 'photo', title: '商品图片', width: 100, align: 'center', templet: '<div><img src="../{{ d.photo }}"></div>', style: 'height:50px;width:48px;line-height:48px!important;'},
                        {field: 'price', title: '商品价格', width: 100},
                        {field: 'store', title: '库存', width: 100},
                        {
                            field: 'audit', title: '审核状态', width: 100,
                            templet: function (d) {
                                if (d.audit == 1) {
                                    return '<span style="color: green;"><a style="color: green;" onclick="upAudit2(\'' + d.id + '\','+d.audit+')">已审核</a></span>';
                                } else if (d.audit == 2) {
                                    return ' <span style="color:;"><a  onclick="upAudit2(\'' + d.id + '\','+d.audit+')">待审核</a></span>';
                                } else if (d.audit == 3) {
                                    return ' <span style="color: red;">未通过</span>';
                                }


                            }
                        },
                        {fixed: 'right', title: '操作',align:"center", toolbar: '#barDemo', width: 200,
                            templet: function (d) {
                                return '<span><a>11</a>></span>'
                            }
                        }

                    ]
                ],
                id: 'testReload'
            });


            //监听头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'add') {
                    layer.open({
                        type: 2,
                        title: '新增配置',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['500px', '600px'], //宽高
                        content: '/comm/toAddComm',

                    });
                } else if (layEvent === 'delete') {
                    var checkStatus = table.checkStatus('testReload')
                        , data = checkStatus.data;
                    var ids = "";
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            ids += data[i].id + ",";
                        }
                    }
                    layer.confirm('确定要删除' + ids + '商品吗?', function (index) {
                        $.ajax({
                            type: 'POST',
                            url: '/comm/deleteAllComm',
                            data: {"ids": ids},
                            success: function (data) {
                                initsearch();
                                layer.msg("删除成功", {icon: 6});
                            }
                        });

                    });

                }
            });


            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'edit') {
                    layer.open({
                        type: 2,
                        title: '修改配置',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['500px', '600px'], //宽高
                        method: 'get',
                        content: '/comm/toEditComm?id='+data.id,

                    });
                } else if (layEvent === 'del') {
                    layer.confirm('真的删除ID为' + data.id + '的商品吗?', function (index) {
                        $.ajax({
                            url: '/comm/deleteComm',
                            data: {'id': data.id},
                            method: 'get',
                            contentType: 'application/json',
                            success: function (data) {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            }
                        })

                        layer.close(index);
                    });
                }else if (layEvent === 'down') {

                        function upAudit1(id,audit1){
                            var checkStatus = table.checkStatus('testReload')
                                , data = checkStatus.data;
                            var num = 2;
                            if(audit1 == 2){
                                num = 3;
                            }
                            $.ajax({
                                url:'/comm/updateAudit1',
                                data: {'id': data.id},
                                type:'post',
                                data:{
                                    id:id,
                                    audit:num
                                },
                                datatype:'json',
                                success:function(result){
                                    initsearch();
                                }
                            })
                        }
                }
            });


            //将日期直接嵌套在指定容器中
            var dateIns = laydate.render({
                elem: '#laydateDemo'
                , position: 'static'
                , calendar: true //是否开启公历重要节日
                , mark: { //标记重要日子
                    '0-10-14': '生日'
                    , '2018-08-28': '新版'
                    , '2018-10-08': '神秘'
                }
                , done: function (value, date, endDate) {
                    if (date.year == 2017 && date.month == 11 && date.date == 30) {
                        dateIns.hint('一不小心就月底了呢');
                    }
                }
                , change: function (value, date, endDate) {
                    layer.msg(value)
                }
            });

            //分页
            laypage.render({
                elem: 'pageDemo' //分页容器的id
                , count: 100 //总页数
                , skin: '#1E9FFF' //自定义选中色值
                //,skip: true //开启跳页
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页', {offset: 'b'});
                    }
                }
            });

            //上传
            upload.render({
                elem: '#uploadDemo'
                , url: '' //上传接口
                , done: function (res) {
                    console.log(res)
                }
            });

            /*slider.render({
            elem: '#sliderDemo'
            ,input: true //输入框
        });

        //底部信息
        var footerTpl = lay('#footer')[0].innerHTML;
        lay('#footer').html(layui.laytpl(footerTpl).render({}))
            .removeClass('layui-hide');*/


        });
    }
</script>

<script>

    function upAudit2(id,audit2){
        var num = 2;
        if(audit2 == 2){
           num = 1;
        }
        $.ajax({
            url:'/comm/updateAudit2',
            type:'post',
            data:{
                id:id,
                audit:num
            },
            datatype:'json',
            success:function(result){
                initsearch();
            }
        })
    }
</script>


<style type="text/css">.layui-table-fixed-r td{height:58px!important;}
.layui-table-fixed-r th{height:58px!important;}
.layui-table img {
    max-width: 48px;min-height: 48px;
}


{
    width: 48px!important;;padding:0px!important;height: 48px!important;;
    line-height: 48px!important;;
}

</style>


</body>
</html>