<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!-- 引入JQuery -->
    <script type="text/javascript"
            src="../EasyUI/jquery.min.js"></script>
</head>
<body align="center">
<form class="layui-form" action="">
    <br/>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品编号</label>
            <div class="layui-input-inline">
                <input type="hidden" name="id"  th:value="${comm.id}" lay-verify="" autocomplete="off" class="layui-input"/>
                <input type="text" name="number" id="number" th:value="${comm.number}" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" th:value="${comm.name}" lay-verify="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品价格</label>
            <div class="layui-input-inline">
                <input type="text" name="price" th:value="${comm.price}" lay-verify="price" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商品库存</label>
            <div class="layui-input-inline">
                <input type="text" name="store" th:value="${comm.store}" lay-verify="store" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">

            <button type="button" class="layui-btn" id="test1">上传图片</button>
            <input type="hidden" id="img_url" name="photo" th:value="${comm.photo}"/>
            <div class="layui-upload-list">
                <img class="layui-upload-img" th:src="${comm.photo}" width="100px" height="80px" id="demo1"/>
                <p id="demoText"></p>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="edit">保存</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/comm/uploadOneFile'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                $('#img_url').val(res.url2);
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>

<script>
    layui.use(['layer', 'form','laydate'], function(){
        var layer = layui.layer
            ,laydate=layui.laydate
            ,form = layui.form;

        form.on('submit(edit)', function(data){
            $.ajax({
                url:'/comm/updateComm',
                method:'post',
                data:data.field,
                dataType:'JSON',
                success:function(res){

                },
                error:function () {
                }
            })
            return false;
        });
    });

</script>
</body>
</html>