<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layui/css/modules/layer/default/layer.css" media="all">
</head>
<body>
<div >

    搜索姓名：
    <div class="layui-inline">
        <input class="layui-input" name="name" id="uname" autocomplete="off">
    </div>
    搜索时间：
    <div class="layui-inline">
        <input class="layui-input" name="name" id="ttime" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload" onclick="initTable()">搜索</button>

    <button class="layui-btn" onclick="alertmethod()">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
</div>
<div align="center" style="margin-top:20px">
    <button class="layui-btn  layui-btn-normal" onclick="alertmethod()">
        <i class="layui-icon">&#xe608;</i> 合并订单
    </button>

</div>
<table id="demo" lay-filter="test" ></table>
<script src="../layui/jquery.min.js"></script>
<script src="../layui/layui.js"></script>
<script>

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#ttime' //指定元素
        });
    });

    /*<input class="layui-btn layui-col-md2" value="提交" onclick="reloadmethod()">
        </div>
        <div class="layui-row" pane>
    <input class="layui-btn layui-col-md2" value="新增" onclick="alertmethod()">
        </div>*/

    $(function () {
        initTable();
    })



    function initTable() {
        layui.use('table', function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo',
                height: 312,
                url: '../order/queryorderlist', //数据接口
                page: true, //开启分页
                where: {orderid:$("#uname").val(),
                    subdate:$("#ttime").val()
                },
                cols: [
                    [
                        {field: 'orderid', title: '订单编号',sort: true, fixed: 'left',width:100,type:'checkbox'},
                        {field: 'orderid', title: '订单编号',sort: true, fixed: 'left',width:100},
                        {field: 'subtime', title: '提交时间', width:100},
                        {field: 'showuseraccount', title: '用户账号', sort: true,width:100},
                        {field: 'showprice', title: '订单金额',width:100},
                        {field: 'paymethod', title: '支付方式',width:100,
                            templet: function(d){
                                if(d.orderstatus=='1'){
                                    return "未支付";
                                }
                                else{
                                    return "支付宝";
                                }
                            }
                        },
                        {field: 'ordersource', title: '订单来源', sort: true,width:100,
                            templet: '<div>APP订单</div>'
                        },
                        {field: 'orderstatus', title: '订单状态',  sort: true,width:100,
                            templet: '#titleTp2'
                        },
                        {field: 'chakan', title: '查看',  sort: true,width:100,
                            templet: '<div><a href="../order/toshowdetail?orderid={{d.orderid}}" class="layui-table-link">查看详情</a></div>'

                        },
                        {field: 'caozuo', title: '操作', sort: true,width:100,
                            templet:function(d){
                                if(d.orderstatus == '1'){
                                    return '<a href="/detail/{{d.id}}" class="layui-table-link">关闭订单</a></div>';
                                }
                                if(d.orderstatus == '2'){
                                    return '<a href="/detail/{{d.id}}" class="layui-table-link">订单发货</a></div>';
                                }
                                if(d.orderstatus == '3'){
                                    return '<a href="/detail/{{d.id}}" class="layui-table-link">订单跟踪</a></div>';
                                }
                                if(d.orderstatus == '4'){
                                    return '<a href="/detail/{{d.id}}" class="layui-table-link">订单跟踪</a></div>';
                                }
                                if(d.orderstatus == '5'){
                                    return '<a href="javascript:delorderbyid({{d.orderid}})" class="layui-table-link">删除订单</a></div>';
                                }

                            }
                        }

                    ]
                ]
            });

        });
    }

    function reloadmethod() {
        initTable();
    }




    function delorderbyid(userid){
        $.ajax({
            url:'../order/delorderbyid',
            type:'post',
            data:{
                orderid:userid
            },
            success:function(){

                initTable();
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg('删除成功');
                });
            }
        })

    }

    function alertmethod(){
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type:2,
                title: '新增页面',
                content: '../order/toaddpage',
                area: ['600px', '400px']
            });
        });
        //['../order/toaddpage', 'no'],
    }










</script>

<!--<script type="text/html" id="titleTpl">
    {{#  if(d.orderstatus ==1){ }}
    <a href="/detail/{{d.id}}" class="layui-table-link">未支付</a>
    {{#  } else { }}
    已支付
    {{#  } }}
</script>-->

<script type="text/html" id="titleTp2" >
    {{#  if(d.orderstatus === '1'){ }}
    待付款
    {{#  } }}
    {{#  if(d.orderstatus === '2'){ }}
    待发货
    {{#  } }}
    {{#  if(d.orderstatus === '3'){ }}
    已发货
    {{#  } }}
    {{#  if(d.orderstatus === '4'){ }}
    已完成
    {{#  } }}
    {{#  if(d.orderstatus === '5'){ }}
    已关闭·
    {{#  } }}
</script>
<!--templet:function(d){
if(d.audit == 1){
return "已审核";
}
if(d.audit == 2){
return "未审核";
}
}-->
 <!--templet: '<div><button onclick="delorderbyid({{d.orderid}})" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger">删除订单</button></div>'-->
</body>
</html>