<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<!-- 引入EasyUI的样式文件-->
<link rel="stylesheet"
                 href="../EasyUI/themes/default/easyui.css" type="text/css"/>

<!-- 引入EasyUI的图标样式文件-->
<link rel="stylesheet"
                 href="../EasyUI/themes/icon.css" type="text/css"/>

<!-- 引入JQuery -->
<script type="text/javascript"
                 src="../EasyUI/jquery.min.js"></script>

<!-- 引入EasyUI -->
<script type="text/javascript"
                 src="../EasyUI/jquery.easyui.min.js"></script>

<!-- 引入EasyUI的中文国际化js，让EasyUI支持中文 -->
<script type="text/javascript"
                 src="../EasyUI/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript"
                 src="../EasyUI/util-js.js"></script>
</head>
<body>
	<input type="text" id="somecode"/>
	<input type="button" value="搜索" onclick="search()"/>
	<table id="userTable"></table>
	<div id="addUser"></div>
	<script type="text/javascript">
		$(function(){
			search();
		})
		function upUser(id){
			
			$('#addUser').dialog({
				title:'修改页面',
				href:'/wbx/toWbxEdit?id='+id,
				width:500,
				height:200,
				modal:false,
				buttons:[{
					text:'保存',
					handler:function(){
						$.ajax({
							url:'/wbx/updateWbxUser',
							type:'post',
							data:$('#editForm').serialize(),
							success:function(msg){
								$('#addUser').dialog('close');
								search()
								$.messager.show({
									title:'我的消息',
									msg:'修改成功',
									timeout:2000,
									showType:'slide'
								});
							}
						})
						
					}
					
				},{
					text:'关闭',
					handler:function(){
						$('#addUser').dialog("close");
					}
				}]
			});
		}
		
		function delUser(id){
			$.ajax({
				url:'/wbx/deleteWbxUser?id='+id,
				type:'post',
				data:$('#id').serialize(),
				success:function(inof){
					search()
					$.messager.show({
						title:'我的消息',
						msg:'删除成功',
						timeout:2000,
						showType:'slide'
					});
				}
			})
		}
		function search(){
			$('#userTable').datagrid({
				url:'/wbx/ha',
				
				queryParams:{
                    introduce:$('#somecode').val()
				},
				
				checkOnSelect:false,
				selectOnCheck:false,
				singleSelect:true,
				columns:[
				     [
					{field:'id',title:'ID',width:100},
					{field:'name',title:'姓名',width:100},
					{field:'introduce',title:'介绍',width:100},
					{field:'cz',title:'操作',width:100,
						formatter:function(value,row,index){
							return '<input type="button" value="修改" onclick="upUser(\''+row.id+'\')"/>&nbsp;&nbsp;<input type="button" value="删除" onclick="delUser(\''+row.id+'\')"/>'
						}		
					}
					
					]
				],
			toolbar:[{
    			iconCls:'icon-add',
    			text:'新增',
    			handler:function(){
    				//添加的弹框
    				$('#addUser').dialog({
    					title:'新增页面',
    					href:'/wbx/toWbxAdd',
    					width:500,
    					height:450,
    					modal:false,
    					buttons:[{
    						text:'保存',
    						handler:function(){
    							$.ajax({
    								url:'/wbx/saveWbxUser',
    								type:'post',
    								data:$('#addForm').serialize(),
    								success:function(msg){
    									$('#addUser').dialog('close');
    	    							search();
    	    							$.messager.show({
    	    								title:'我的消息',
    	    								msg:'新增成功',
    	    								timeout:2000,
    	    								showType:'slide'
    	    							});
    								}
    							})
    							
    						}
    						
    					},{
    						text:'关闭',
    						handler:function(){
    							$('#addUser').dialog("close");
    						}
    					}]
    				});
    			}
    		}]
			})
		}
		function downExcel(){
			
			location.href="../wbx/downExcel";
			
		}
</script>

</body>
</html>