<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" href="../EasyUI/themes/icon.css"/>
<link rel="stylesheet" href="../EasyUI/themes/default/easyui.css"/>
<link rel="stylesheet" href="../EasyUI/themes/color.css"/>
<script src="../EasyUI/jquery.min.js"></script>
<script src="../EasyUI/jquery.easyui.min.js"></script>
<script src="../EasyUI/locale/easyui-lang-zh_CN.js"></script>

</head>
<body>
	时间查询：<input type="date" id="datexiao"/>--
	<input type="date" id="dateda"/>
	<input type="button" value="搜索" onclick="logtable()"/>
	<table id="logtable" ></table>
	
<script type="text/javascript" src="../js/logwq.js"></script>
</body>
</html>