<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>

<link rel="stylesheet" href="../EasyUI/themes/icon.css"/>
<link rel="stylesheet" href="../EasyUI/themes/default/easyui.css"/>
<link rel="stylesheet" href="../EasyUI/themes/color.css"/>
<script src="../EasyUI/jquery.min.js"></script>
<script src="../EasyUI/jquery.easyui.min.js"></script>
<script src="../EasyUI/locale/easyui-lang-zh_CN.js"></script>

<link rel="stylesheet"  
				href="../js/uploadify/uploadify.css" type="text/css"/>
</head>
<body>

	<div id="mypowerpage" class="easyui-layout" data-options="fit:true">   
	    
	    <div data-options="region:'east',title:'管理界面',split:false" style="width:100%;">
	    	<table id="powerlist" data-options="fit:true"></table>
	    	<div id="addDiv"></div>
	    </div> 
	</div>  


<script type="text/javascript" src="../css/NewFile.js"></script>
  
 
</body>
</html>