<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.CommMapper">

    <select id="queryComm" resultType="long">
        select count(*) from t_commodity
    </select>

    <select id="queryCoomList" resultType="com.jk.model.Comm">
        select * from t_commodity
        limit #{st},#{end}
    </select>

    <insert id="saveComm" parameterType="com.jk.model.Comm">
        insert into t_commodity(id,number,name,price,photo,store,audit)
        values(#{comm.id},#{comm.number},#{comm.name},#{comm.price},#{comm.photo},#{comm.store},#{comm.audit})
    </insert>

    <select id="queryCommById" resultType="com.jk.model.Comm">
        select * from t_commodity where id = #{id}
    </select>

    <update id="updateComm">
        update t_commodity set number = #{number},name = #{name},price = #{price},photo = #{photo},store = #{store} where id = #{id}
    </update>

    <delete id="deleteComm" >
        delete from t_commodity where id = #{id}

    </delete>

    <delete id="deleteAllComm" >

        delete from t_commodity where id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="updateAudit2">
        update t_commodity set audit = #{audit} where id = #{id}
    </update>

    <update id="updateAudit1">
        update t_commodity set audit = #{audit} where id = #{id}
    </update>

</mapper>