<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
	<link href="../layui/css/layui.css" rel="stylesheet"/>

	<script src="../layui/layui.all.js"></script>

	<script src="../layui/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<form class="layui-form" id="editFormUser">
		
		<input type="hidden" id="x" name="id" th:value="${user.id}"/>
		<div class="layui-form-item">
			<label class="layui-form-label">角色</label>
			<div class="layui-input-block" id="userListTable">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
				<input type="checkbox" name="roleids" th:value="1" th:title="2" checked="">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="add">保存</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>

	<script>
        layui.use('form', function(){

            var element = layui.element;
            $(function(){


                initUpdateUser();
            })

            function initUpdateUser(){
                $.ajax({
                    url:'/wbx/toEdit2',
                    type:'post',
                    data:{id:$('#x').val()},
                    dataType:'json',
                    success:function(result){
                        var html = "";
                        var x=""
                        var role = result.role;
                        var roles = result.roles;
                        for(var i=0;i<role.length;i++){
                            for(var j=0;j<roles.length;j++){
                                if(roles[j].id==role[i].id){

                                    x= "<input  type='checkbox' name='roleid' value='"+role[i].id+"' th:title='"+role[i].name+"' checked=''/>"+role[i].name+"<br>";
                                    break;
                                }else{
                                    x= "<input  type='checkbox' name='roleid' value='"+role[i].id+"' th:title='"+role[i].name+"' />"+role[i].name+"<br>";
                                }

                            }
                            html+=x;
                        }
                        var form = layui.form;
                        $("#userListTable").html(html);
                        form.render("checkbox");

                    }
                })
            }
            var form = layui.form;
            //……
            //但是，如果你的HTML是动态生成的，自动渲染就会失效
            //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
            form.on('submit(add)', function(data){
                //获取checkbox[name='like']的值
                var arr = new Array();
                $("input:checkbox[name='roleid']:checked").each(function(i){
                    arr[i] = $(this).val();
                });

                data.field.roleid = arr.join(",");//将数组合并成字符串
                var datas=data.field;
                alert(data.field.roleid);
                $.ajax({
                    url:'/wbx/updateUser',
                    type:'post',
                    data:datas,
                    dataType:'JSON',
                    success:function(res){

                        layer.msg("修改成功",{icon:1});
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);//关闭当前页
                    },
                    error:function () {
                        layer.msg("修改失败",{icon:6});
                    }
                })

                return false;
            });
        });

	</script>

</body>
</html>



