<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.OrderBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.OrderBean" >
    <id column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="linkuserid" property="linkuserid" jdbcType="VARCHAR" />
    <result column="linkcommodifyid" property="linkcommodifyid" jdbcType="VARCHAR" />
    <result column="linkbothid" property="linkbothid" jdbcType="VARCHAR" />
    <result column="paystatus" property="paystatus" jdbcType="VARCHAR" />
    <result column="orderstatus" property="orderstatus" jdbcType="VARCHAR" />
    <result column="subtime" property="subtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderid, linkuserid, linkcommodifyid, linkbothid, paystatus, orderstatus, subtime
  </sql>
  <!--前台页面用户确认收货-->
  <update id="updateorderstatus" parameterType="string">
    update t_order set  orderstatus='4'  where orderid = #{value}
  </update>


  <!--shopping项目的访问-->
 <!-- 查询用户所订购不同商品的数量和商品信息-->
<select id="queryuserorder" parameterType="string" resultType="com.jk.model.OrderBean">
SELECT COUNT(tc.id) showcount,tor.*,tre.`name` showuser,tc.number showname,

tc.photo showimg,tc.price showprice from t_order tor,t_commodity tc,

t_comm_order tco,t_region tre WHERE tor.linkuserid = #{value}

AND tor.orderid = tco.orderid and tco.commid = tc.id

and tre.userId = #{value}

GROUP BY tor.orderid ORDER BY tor.subtime
</select>


<select id="queryRegion" parameterType="String" resultType="com.jk.model.RegionBean">
  SELECT trg.* FROM t_region trg,t_order tor WHERE tor.orderid = #{value} and tor.linkbothid = trg.id
</select>


  <select id="queryRegionAgain"  resultType="com.jk.model.OrderBean">
SELECT COUNT(tc.id) showcount,tor.*,tre.`name` showuser, tre.phone showphone,tre.sheng showsheng,tre.inDetail showdetail,tc.number showname,

tc.photo showimg,tc.price showprice from t_order tor,t_commodity tc,

t_comm_order tco,t_region tre WHERE tor.linkuserid =#{id}

AND tor.orderid = tco.orderid and tco.commid = tc.id

GROUP BY tor.orderid

and tre.userId =#{id}
and tor.orderid = #{orderid}

  </select>

  <!--订单列表 查询条数-->
  <select id="queryordercount" resultType="long">
    SELECT COUNT(*)  FROM
    (SELECT DISTINCT tor.*,tu.loginname showuseraccount,tc.price showprice
    FROM t_order tor,t_user tu,t_commodity tc,t_comm_order tco
    where tor.linkuserid = tu.id and tco.orderid = tor.orderid
    and tco.commid=tc.id GROUP BY tor.orderid
      <if test="orderBean.orderid != null and orderBean.orderid!=''">
       and tor.orderid like '${orderBean.orderid}'
      </if>
      <if test="orderBean.subdate != null and orderBean.subdate!=''">
          and str_to_date(tor.subtime, '%Y-%m-%d')= str_to_date(#{orderBean.subdate}, '%Y-%m-%d')
      </if>
    ) tall
  </select>


  <!--订单列表 查询数据-->
  <select id="queryorderlist" resultType="com.jk.model.OrderBean">

    SELECT DISTINCT tor.*,tu.loginname showuseraccount,tc.price showprice
    FROM t_order tor,t_user tu,t_commodity tc,t_comm_order tco
    where tor.linkuserid = tu.id and tco.orderid = tor.orderid
    and tco.commid=tc.id
      <if test="orderBean.orderid != null and orderBean.orderid!=''">
      and  tor.orderid like '${orderBean.orderid}'
      </if>
      <if test="orderBean.subdate != null and orderBean.subdate!=''">
        and str_to_date(tor.subtime, '%Y-%m-%d')= str_to_date(#{orderBean.subdate}, '%Y-%m-%d')
      </if>
    group by tor.orderid

  limit #{st},#{ed}

  </select>



  <select id="queryallorder" resultType="com.jk.model.OrderBean">
  SELECT DISTINCT tor.*,tu.loginname showuseraccount,tc.price showprice
    FROM t_order tor,t_user tu,t_commodity tc,t_comm_order tco
    where tor.linkuserid = tu.id and tco.orderid = tor.orderid
    and tco.commid=tc.id  group by tor.orderid
  </select>


  <select id="queryregion1" parameterType="string" resultType="com.jk.model.RegionBean">
    select * from t_region where id = #{value}

  </select>


  <select id="queryregion2" parameterType="String" resultType="com.jk.model.RegionBean">

    select  * from  t_region where id = #{value}

  </select>


  <delete id="deleteCommOder" parameterType="string">
    delete from t_comm_order where  orderid = #{value}
  </delete>


<!--生成订单-->
<insert id="generateOrdeBean" parameterType="com.jk.model.OrderBean">
   insert into t_order (orderid, linkuserid, linkcommodifyid,
      linkbothid, paystatus, orderstatus,
      subtime)
    values (#{orderid}, #{linkuserid}, #{linkcommodifyid},
      #{linkbothid}, #{paystatus}, #{orderstatus},
      #{subtime})

</insert>

<!--订单详情1 查询订单 -->
<select id="queryorder" parameterType="string" resultType="com.jk.model.OrderBean">
  select tor.*,tu.loginname showuseraccount from t_order tor , t_user tu where tor.linkuserid = tu.id
  and orderid = #{value}

</select>


  <!--订单详情2 查询商品信息-->
<select id="queryComm" parameterType="String" resultType="com.jk.model.Comm">
 select * from t_commodity tc,t_comm_order tco where tc.id = tco.commid
and tco.orderid =  #{value}
</select>



 <!-- 订单详情3 查询物流信息-->
<select id="queryexpress" parameterType="string" resultType="com.jk.model.ExpressBean">
  select * from t_express where linkorderid =#{value}

</select>

  <!--订单详情2 查询收货信息-->
<select id="queryregion" parameterType="string" resultType="com.jk.model.RegionBean">
  select * from t_region where id = #{value}
</select>

  <!--发货物流-->
<insert id="insertexpress" parameterType="com.jk.model.ExpressBean">
   insert into t_express (expressid, expresscompany, expressqueue,
      linkorderid)
    values (#{expressid}, #{expresscompany}, #{expressqueue},
      #{linkorderid})

</insert>

 <!-- &lt;!&ndash;查询所有订单收货的信息&ndash;&gt;
  <select id="automergerorder" resultType="com.jk.model.RegionBean">
   SELECT tre.*,tor.orderid showorderid FROM t_region tre,t_order tor WHERE tre.id = tor.linkbothid
  </select>

-->






  <update id="updateorderBean" parameterType="com.jk.model.OrderBean">
   update t_order
    set
    consignnum = #{consignnum},
      orderstatus = #{orderstatus},
      subtime = #{subtime},
       orderstatus = #{orderstatus}
    where orderid = #{orderid}

  </update>

    <select id="inselone" resultType="com.jk.model.OrderBean">
       select * from t_order
    </select>


  <select id="queryCommOrder" parameterType="string" resultType="string">

    select commid from  t_comm_order where orderid  = #{value}
  </select>

  <insert id="insertCommOrder" parameterType="com.jk.model.CommOrderBean">
    insert into t_comm_order (id, commid, orderid
      )
    values (#{id}, #{commid}, #{orderid}
      )

  </insert>

 <!-- <delete id="deleteExpressBean" parameterType="String">
    delete from t_express where linkorderid = #{value}
  </delete>
-->

  <delete id="deleteSubOrder" parameterType="string">
    delete from t_order where orderid = #{value}

  </delete>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order
    where orderid = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jk.model.OrderBean" >
    insert into t_order (orderid, linkuserid, linkcommodifyid,
      linkbothid, paystatus, orderstatus,
      subtime)
    values (#{orderid,jdbcType=VARCHAR}, #{linkuserid,jdbcType=VARCHAR}, #{linkcommodifyid,jdbcType=VARCHAR},
      #{linkbothid,jdbcType=VARCHAR}, #{paystatus,jdbcType=VARCHAR}, #{orderstatus,jdbcType=VARCHAR},
      #{subtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.OrderBean" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="linkuserid != null" >
        linkuserid,
      </if>
      <if test="linkcommodifyid != null" >
        linkcommodifyid,
      </if>
      <if test="linkbothid != null" >
        linkbothid,
      </if>
      <if test="paystatus != null" >
        paystatus,
      </if>
      <if test="orderstatus != null" >
        orderstatus,
      </if>
      <if test="subtime != null" >
        subtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="linkuserid != null" >
        #{linkuserid,jdbcType=VARCHAR},
      </if>
      <if test="linkcommodifyid != null" >
        #{linkcommodifyid,jdbcType=VARCHAR},
      </if>
      <if test="linkbothid != null" >
        #{linkbothid,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null" >
        #{subtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.OrderBean" >
    update t_order
    <set >
      <if test="linkuserid != null" >
        linkuserid = #{linkuserid,jdbcType=VARCHAR},
      </if>
      <if test="linkcommodifyid != null" >
        linkcommodifyid = #{linkcommodifyid,jdbcType=VARCHAR},
      </if>
      <if test="linkbothid != null" >
        linkbothid = #{linkbothid,jdbcType=VARCHAR},
      </if>
      <if test="paystatus != null" >
        paystatus = #{paystatus,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        orderstatus = #{orderstatus,jdbcType=VARCHAR},
      </if>
      <if test="subtime != null" >
        subtime = #{subtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.OrderBean" >
    update t_order
    set linkuserid = #{linkuserid,jdbcType=VARCHAR},
      linkcommodifyid = #{linkcommodifyid,jdbcType=VARCHAR},
      linkbothid = #{linkbothid,jdbcType=VARCHAR},
      paystatus = #{paystatus,jdbcType=VARCHAR},
      orderstatus = #{orderstatus,jdbcType=VARCHAR},
      subtime = #{subtime,jdbcType=TIMESTAMP}
    where orderid = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>