<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" />
    <script src="../layui/layui.all.js"></script>
    <!-- 引入JQuery -->
    <script type="text/javascript"
            src="../EasyUI/jquery.min.js"></script>
</head>
<body align="center">

<form class="layui-form" action="">
    <br/>

  <!--  <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">编号</label>
            <div class="layui-input-inline">
                <input type="text" name="id" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>-->

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">固定天数</label>
            <div class="layui-input-inline">
                <input type="text" name="fixday" lay-verify="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">优惠金额</label>
            <div class="layui-input-inline">
                <input type="text" name="price" lay-verify="name" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

<!--下拉列表框-->
  <!--  <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">优惠金额</label>
            <div class="layui-input-inline">
                <select name="price">
                    <optgroup label="请选择">
                        <option value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>
-->


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">满减规则</label>
            <div class="layui-input-inline">
                <input type="text" name="man" lay-verify="price" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">剩余数量</label>
            <div class="layui-input-inline">
                <input type="text" name="count" lay-verify="store" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<!--<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'     /*根据绑定id，打开本地图片*/
            ,url: '/comm/uploadOneFile'  /*上传后台接受接口*/
            ,auto: false        /*true为选中图片直接提交，false为不提交根据bindAction属性上的id提交*/
            ,bindAction: '#formSubmit'   /*提交图片*/
            ,choose:function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#photo').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });


</script>-->

<!--<script type="text/javascript" th:inline="javascript">
    layui.use('upload', function(){
        var upload = layui.upload
            , $ = layui.jquery;
        var uploadInst = upload.render({
            elem: '#upload1' //绑定元素
            ,url: /*[[@{/upload/img}]]*/'/comm/uploadOneFile' //上传接口
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                alert("上传成功"+res.url);
                document.getElementById("img_url").value = res.url;

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>-->

<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/comm/uploadOneFile'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                $('#img_url').val(res.url2);
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>


<!--<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/comm/uploadOneFile' //上传接口
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>-->



    <script>
        layui.use(['layer', 'form','laydate'], function(){
            var layer = layui.layer
                ,laydate=layui.laydate
                ,form = layui.form;

        form.on('submit(add)', function(data){
            var datas=data.field;
            $.ajax({
                url:'/cou/addCoupon',
                type:'post',
                data:datas,
                dataType:'JSON',
                success:function(res){

                    layer.msg("新增成功",{icon:1});
                },
                error:function () {
                    layer.msg("新增失败",{icon:6});
                }
            })
            return false;
        });
    });

    </script>
</body>
</html>