<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
	<link href="../layui/css/layui.css" rel="stylesheet"/>

	<script src="../layui/layui.all.js"></script>

	<script src="../layui/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form class="layui-form" action="">
	<br/>


	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">商品名称</label>
			<div class="layui-input-inline">
				<input type="hidden" name="id"  lay-verify="" autocomplete="off" class="layui-input"/>
				<input type="text" name="name" id="name"  lay-verify="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">秒杀时长</label>
			<div class="layui-input-inline">
				<input type="hidden" name="id"  lay-verify="" autocomplete="off" class="layui-input"/>
				<input type="number" min="1" name="timeLimit" id="timeLimit"  lay-verify="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">商品原价</label>
			<div class="layui-input-inline">
				<input type="number" min="1" name="price" lay-verify="price" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">秒杀价格</label>
			<div class="layui-input-inline">
				<input type="number" min="1" name="seckillPrice" lay-verify="seckillPrice" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-input-block">

			<button type="button" class="layui-btn" id="test1">上传图片</button>
			<input type="hidden" id="img_url" name="commmondityImg" value=""/>
			<div class="layui-upload-list">
				<img class="layui-upload-img" width="300px" height="120px" id="demo1"/>
				<p id="demoText"></p>
			</div>
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label">商品描述</label>
		<div class="layui-input-block">
			<textarea class="layui-textarea" name="artNo"></textarea>
		</div>
	</div>

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="add">保存</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<script>

    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '../seckill/uploadOneFileFood'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                    $('#demo1').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                $('#img_url').val(res.url2);
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>

<script>
    layui.use(['layer', 'form','laydate'], function(){
        var layer = layui.layer
            ,laydate=layui.laydate
            ,form = layui.form;

        form.on('submit(add)', function(data){
            var datas=data.field;
            $.ajax({
                url:'/seckill/saveTimeLimit',
                type:'post',
                data:datas,
                dataType:'JSON',
                success:function(res){

                    layer.msg("新增成功",{icon:1});
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layer.close(index);//关闭当前页
                },
                error:function () {
                    layer.msg("新增失败",{icon:6});
                }
            })

            return false;
        });
    });

</script>
<script>





</script>

<script>
    layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });

</script>

</body>
</html>