<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
    <link href="../layui/css/layui.css" rel="stylesheet"/>

    <script src="../layui/layui.js"></script>

    <script src="../layui/layui.all.js"></script>

    <script src="../layui/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<br/>
<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal" lay-event="add">新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;增</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript">
    $(function(){
        search();
    })
    function search(){
        layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element', 'slider'], function () {
            var laydate = layui.laydate //日期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , upload = layui.upload //上传
                , element = layui.element //元素操作

            table.render({
                elem: '#demo',
                height: true,
                url: '/seckill/querySeckillCommodityList', //数据接口
                title: '限量秒杀列表',
                page: true, //开启分页
                toolbar: '#toolbarDemo', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                totalRow: false,//开启合计行
                cols: [
                    [ //表头
                       /* {checkbox: true, align: 'center', LAY_CHECKED: false, filter: 'test'},*/
                        /*{type: 'checkbox', fixed: 'left'},*/
                        {field: 'id', title: '商品编号', width: 100, align: "center"},
                        {field: 'name', title: '商品名称', width: 100, align: "center"},
                        {field: 'artNo', title: '商品描述', width: 100, align: "center"},
                        {field: 'price', title: '商品原价', width: 100 /*sort: true, totalRow: true*/},
                        {field: 'seckillPrice', title: '秒杀价格', width: 100 /*sort: true, totalRow: true*/},
                        {field: 'seckillCount', title: '秒杀数量', width: 100 /*sort: true, totalRow: true*/},
                        {field: 'limitationCount', title: '已购数量', width: 100},
                        {field: 'surplusCount', title: '剩余数量', width: 100},
                        {field: 'commmondityImg', title: '秒杀封面', width: 100, align: 'center',
                            templet: '<div> <img src="../{{ d.commmondityImg }}"></div>', style: 'height:50px;width:48px;line-height:48px!important;'
                        },
                        {field: 'addTime', title: '添加时间', width: 100},
                        {field: 'status', title: '商品状态', width: 100,
                            templet: function (d) {
                                if (d.status == 1) {
                                    return '已上架';
                                } else {
                                    return '已过期';
                                }
                            }
                        },
                        {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 80,align:'center'}

                    ]
                ],
                id: 'testReload'
            });


            //监听头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var data = obj.data //获得当前行数据
                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'add') {
                    layer.open({
                        type: 2,
                        title: '新增配置',
                        skin: 'layui-layer-rim', //加上边框
                        area: ['500px', '600px'], //宽高
                        content: '/seckill/toAddLimitSeckill',
                        end: function () {
                            location.reload();
                        }
                    });
                }
            });


            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据

                    , layEvent = obj.event; //获得 lay-event 对应的值
                if (layEvent === 'del') {
                    layer.confirm('真的删除ID为' + data.id + '的商品吗?', function (index) {
                        $.ajax({
                            url: '/seckill/deleteCommodityById',
                            data: {'id': data.id},
                            method: 'get',
                            contentType: 'application/json',
                            success: function (data) {
                                obj.del();
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            }
                        })
                        layer.close(index);
                    });
                }
            });


            //将日期直接嵌套在指定容器中
            var dateIns = laydate.render({
                elem: '#laydateDemo'
                , position: 'static'
                , calendar: true //是否开启公历重要节日
                , mark: { //标记重要日子
                    '0-10-14': '生日'
                    , '2018-08-28': '新版'
                    , '2018-10-08': '神秘'
                }
                , done: function (value, date, endDate) {
                    if (date.year == 2017 && date.month == 11 && date.date == 30) {
                        dateIns.hint('一不小心就月底了呢');
                    }
                }
                , change: function (value, date, endDate) {
                    layer.msg(value)
                }
            });

            //分页
            laypage.render({
                elem: 'pageDemo' //分页容器的id
                , count: 100 //总页数
                , skin: '#1E9FFF' //自定义选中色值
                //,skip: true //开启跳页
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页', {offset: 'b'});
                    }
                }
            });

            //上传
            upload.render({
                elem: '#uploadDemo'
                , url: '' //上传接口
                , done: function (res) {
                    console.log(res)
                }
            });

            /*slider.render({
            elem: '#sliderDemo'
            ,input: true //输入框
        });

        //底部信息
        var footerTpl = lay('#footer')[0].innerHTML;
        lay('#footer').html(layui.laytpl(footerTpl).render({}))
            .removeClass('layui-hide');*/


        });
    }
</script>
</body>
</html>